<!-- extend base layout -->
<div class="container theme-showcase" role="main">

{% extends "base.html" %}

    {% block content %}

    <div class="page-header">
        <h1>Kontakt</h1>
    </div>
    <div class = "container-fluid">
    <div class = "container-fluid col-sm-3"><img src = "./static/img/alicja.jpg" class="img-circle" width="180" height="180"class="img-circle" width="180" height="180"><br><br><p>Alicja Martinek</p></div>
    <div class = "container-fluid col-sm-3"><img src = "./static/img/asia.jpg" class="img-circle" width="180" height="180"class="img-circle" width="180" height="180"><br><br><p>Joanna Lebica</p></div>
    <div class = "container-fluid col-sm-3"><img src = "./static/img/martyna.jpg" class="img-circle" width="180" height="180"class="img-circle" width="180" height="180"><br><br><p>Martyna Miśkowiec</p></div>
    <div class = "container-fluid col-sm-3"><img src = "./static/img/mateusz.jpg" class="img-circle" width="180" height="180"class="img-circle" width="180" height="180"><br><br><p>Mateusz Pabian</p></div>

    </div>



</div>
{% endblock %}