<!-- extend base layout -->
{% extends "base.html" %}
<div class="container theme-showcase" role="main">
    {% block content %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
      <div class="container theme-showcase" role="main">
          {% if request.args.get('done') == "true" %}
                <h2>Dziękujemy za wypełnienie ankiety</h2><br>
                <a href="/result" class="btn btn-success" role="button" style = "margin: 15px">Kliknij tu by sprawdzić wyniki!</a>
          {% else %}
                <h2>Zachowania społeczne</h2>
                  <h1> a gry komputerowe</h1>
                <a href="/form" class="btn btn-success" role="button" style = "margin: 15px">Wypełnij ankietę!</a>
          {% endif %}
      </div>
      </div>

    {% endblock %}

</div>